@page
@model Assignment2_EcoInvest.Pages.AppleInfoModel
@{
}

<div id="companyHeader" style="text-align:center;">
    <img id="companyLogo" src="~/Images/Apple/Apple-Logo.png" alt="Company Logo">
    <img id="companyHQPicture" src="~/Images/Apple/Apple-HQ.jpg" alt="Company Headquarters">
</div>

<h2 style="text-align:center;" id="companyName"></h2>

<div id="companyDetails" style="margin: 20px;">
    <p><strong>Street:</strong> <span id="companyStreet"></span></p>
    <p><strong>City:</strong> <span id="companyCity"></span></p>
    <p><strong>State:</strong> <span id="companyState"></span></p>
    <p><strong>Zip:</strong> <span id="companyZip"></span></p>
    <p><strong>Email:</strong> <span id="companyEmail"></span></p>
    <p><strong>Website:</strong> <a id="companyWebsite" href=""></a></p>
    <p><strong>Climate Rating:</strong> <span id="companyClimateRating"></span></p>
</div>


<body>
    <h1>Test</h1>
    <p><a href="/Information">Go Back</a></p>


</body>

