html {
  font-size: 14px;
}

#companyHeader {
    position: relative;
    width: 100%;
    height: 150px; /* Set a fixed height for the header */
    overflow: hidden;
}

#companyHQPicture {
    width: 100%;
    height: 150px; /* Constrain the height of the image */
    object-fit: cover; /* Ensure the image covers the area nicely */
}

#companyLogo {
    position: absolute;
    top: 10px; /* Adjust positioning as needed */
    left: 20px;
    width: 100px; /* Adjust size as necessary */
    height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-custom{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.button-custom:hover{
    background-color: lime;
    color: black;
}